[Unit]
Description=GoatBot Discord bot to start/stop game server containers.

[Service]
ExecStart=/home/neal/goatbot/index.js
Restart=always
User=neal
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/neal/goatbot

[Install]
WantedBy=multi-user.target
